/* Clears padding and margin from default browser settings */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Changes the body background */
body {
  background-color: #d9dcd6;
}

/* Formats the header */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* Formats the header links to be positioned inline */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Highlights the seo portion of the brand */
header h1 .seo {
  color: #d9dcd6;
}
/* Adds padding and margin and formats the nav links  */
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* Removes the default marker from ul list */
nav ul {
  list-style-type: none;
}

/* Inlines the nav symbols */
nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Makes links white and removes the underline under them */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Fixes the font size of p elements */
p {
  font-size: 16px;
}
/* Formats the hero on the main image */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Floats the element to the left */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Floats the element to the right */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Mainly limits the content element to 3/4 of the window */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Formats the benefits container */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Formats the benefit cards */
.benefit-card {
  margin-bottom: 32px;
  color: #ffffff;
}

/* .benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* Formats the h3 of the .benefit-card to be centered and 10px of bottom margin */
.benefit-card h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* .benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* .benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* Mainly limits the imgs of .benefit-card to have up to 150px of width */
.benefit-card img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* .benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* .benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* Formats the cards inside .content */
.card {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* .search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* Limits imgs inside the cards to have up to 200px */
.card img {
  max-height: 200px;
}

/* .search-engine-optimization img {
    max-height: 200px;
} */

/* .online-reputation-management img {
    max-height: 200px;
} */

/* .social-media-marketing img {
    max-height: 200px;
} */

/* Formats h2 elements in .card */
.card h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* .search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* Mainly centers and formats the elements inside the footer */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Sets the h2 inside footer to be 20px of size */
footer h2 {
  font-size: 20px;
}
